@import './variables';

.font-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-header {
  font-family: 'Raleway', sans-serif;
}

.section-title {
  font-size: $font-size-title;
  font-weight: 900;
  letter-spacing: 0.1em;
  word-wrap: break-word;

  @media(min-width: $breakpoint-md) {
    font-size: $font-size-title-md;
  }

  @media(min-width: $breakpoint-lg) {
    font-size: $font-size-title-lg;
  }
}

body {
  @extend .font-header;

  color: $dark;
  background-color: $light;
}

p {
  @extend .font-paragraph;
}