@import "./variables";

@mixin dott($color) {
  margin-left: 22px;
  $size: 32px;
  display: inline-block;
  background-color: $color;
  width: $size;
  height: $size;
  border-radius: $size;
}

.container {
  margin: 0px auto;
  max-width: 1020px;
  padding: 0 20px;

  @media (min-width: $breakpoint-md) {
    padding: 0 40px;
  }
}

.component-wrapper {
  display: contents;
}