@import "./variables";

@mixin dott($color) {
  margin-left: 6px;
  display: inline-block;
  background-color: $color;
  width: 16px;
  height: 16px;
  border-radius: 999px;

  @media (min-width: $breakpoint-md) {
    margin-left: 22px;
    width: 32px;
    height: 32px;
  }
}

.container {
  margin: 0px auto;
  max-width: 1020px;
  padding: 0 20px;

  @media (min-width: $breakpoint-md) {
    padding: 0 40px;
  }
}

.form-container {
  @extend .container;

  max-width: 600px;
}

.component-wrapper {
  display: contents;
}

.xs-only {
  display: inherit;

  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}